.container-home-page-course-section {
    margin-bottom: 1rem;
    min-height: 500px;
    padding: 10px 20px;
    border-radius: 10px;
}


.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.table-wrapper .student-grade {
    border-collapse: collapse;
    will-change: transform;
}

.student-grade>thead>tr>th {
    min-width: 120px;
}

.student-grade>thead>tr>th:nth-child(1) {
    min-width: 120px
}

.student-grade>thead>tr>th:nth-child(2) {
    min-width: 180px;
}

.student-grade>tbody>tr>td{
    text-align: center;
}
.student-grade>tbody>tr>td:nth-child(2){
    text-align: left;
}