/* style responsive PC first */
/* style responsive laptop */
@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

/* style responsive table */
@media (max-width: 767px) {

    /* responsive dashboard admin */
    .mobile-toggle {
        display: block !important;
    }

    .navbar .logo {
        font-size: 16px;
    }

    .navbar {
        padding: 0 6px !important;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0 !important;
    }

    .dashboard-grid {
        grid-template-columns: 1fr !important;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .submenu li>a {
        font-size: 13px;
    }

    .subsubmenu li>a {
        font-size: 13px;
    }

    .nav-links {
        padding-bottom: 6px !important;
    }

    /* responsive class */
    .buttons {
        display: flex;
        flex-direction: column;
    }
     .buttons a {
        margin-bottom: 4px;
        font-size: 13px;
        text-align: center;
     }
   
    .document-subject>h1 {
        font-size: 25px;
    }

    .document-subject>h2 {
        font-size: 20px;
    }
}

/* style responsive mobible */
@media (max-width: 576px) {}